footer{
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 0em;
    bottom: 1%;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

#content{
    box-shadow: 10px 10px 5px grey;
    width: 540px;
    height: 600px;
    background-color: #694d0a;
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: inline-block;
    z-index: 2;
}

#tic-tac-toe-board {
    display: block;
    margin: auto;
    background-color: #779c42;
    border: 3px solid darkgreen;
}

.canvas-wrapper {
    position: absolute;
    transform: translateY(5%);
    width: 100%;
}

.canvas-wrapper-parent {
    transform-style: preserve-3d;
}

#canvas-text {
    background-color: rgba(0,0,0,0.2);
    font-family: 'Indie Flower', cursive;
    position: absolute;
    margin: auto;
    display: block;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    height: 480px;
    width: 480px;
}

#canvas-text h3 {
    display: inline-block;
    font-size: 30px;
    float: none;
    width: 80%;
    margin: auto;
    padding-top: 25%;
    padding-left: 20%;
    -webkit-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear;
}

.canvas-text-button {
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    font-size: 20px;
    display: inline-block;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 8%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

.canvas-text-button-back {
    margin-top: 10%;
    margin-left: 23%;
    width: 20%;

}

.canvas-text-button:hover {
    border: 3px dashed darkgreen;
}

.canvas-text-button-wrapper {
    width: 100%;
    display: inline;
    margin: auto;
    padding-top: 4%;
    padding-left: 15%;
}

@keyframes fadeIn {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}